/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04 27, 23, 8:07:18 PM
    Author     : AldrinLuces
*/
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(180deg, #101010,#252422);
    min-height: 100vh;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(https://t3.ftcdn.net/jpg/03/33/64/68/360_F_333646848_wJygH6TRBSmddVpQ5JTKTufJMYUpdhBQ.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container a{
    text-decoration: none;
    background: green;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 12px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4;
}
.container a:hover{
    background: black;
    color: lightgreen;
    transition: 0.5s;
}
span{
    color:green;
}