@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --green: #14c260;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}
nav{
    background: black;
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin: 0 20px 0 0;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: green;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    nav ul li a{
         font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

header{
    display: flex;
    align-items: center;
    background-color: black; 
}



body {
    background: linear-gradient(rgba(4,9,10,0.9),rgba(4,9,10,0.9)), url(https://images.pexels.com/photos/1546168/pexels-photo-1546168.jpeg?cs=srgb&dl=pexels-david-mcbee-1546168.jpg&fm=jpg) no-repeat;
    background-size: cover;
}

.pfp{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 5%;
}

/* Main */

.pfp{
  margin: auto;
  width: 10%;
  padding: 30px 10px 10px 10px;
}
.main {
  font-size: 28px;
  width: 50%;
}

.main h2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.main .card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.main .card table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #e7e7e8;
  right: 14%;
}

